nav {
  background-color: #333;
  color: white;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 1rem;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: burlywood;
}
